.dailyPriceModal {
  .values {
    .myInput {
      margin-right: 15px;
    }
  }

  .total {
    .label {
      margin-right: 5px;
    }

    margin-bottom: 5px;
  }

  .costAllocationDropdown {
    margin: 5px 0;

    .dropdown {
      margin-right: 15px;
    }
  }
}
