@import './variables.scss';

// THEME
.layout,
.layout > div {
  height: 100%;
}

:focus {
  outline: none;
}

.focused > * {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: $mediumBlue;
}

.clickable {
  font-weight: $semibold;
}

.clickable:hover {
  font-weight: $bold;
  color: $coolBlue;
  cursor: pointer;
}
